* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.headings {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f3fae1;
}

h1 {
  font-size: 45px;
}

.inner-headings {
  height: 70px; /* Adjusted height */
  line-height: 70px; /* Adjusted line height */
  font-size: 55px; /* Increased font size */
  /* text-transform: uppercase; */
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  color: #ffbf62;
  animation: animation 16s ease infinite;
  font-weight: bolder;
}

.paragraph {
  margin-top: 10px;
  color: #f3fae1;
  font-size: 18px;
}

@keyframes animation {
  0%,
  10% {
    top: 0;
  }
  25%,
  35% {
    top: -70px; /* Adjusted for new height */
  }
  50%,
  60% {
    top: -140px; /* Adjusted for new height */
  }
  75%,
  85% {
    top: -210px; /* Adjusted for new height */
  }
  100% {
    top: 0;
  }
}

/* Media query for medium screens */
@media (max-width: 768px) {
  .inner-headings {
    height: 50px; /* Reduced height */
    line-height: 50px; /* Reduced line height */
    font-size: 45px; /* Reduced font size */
  }

  .outer-headings {
    height: 90vh;
  }

  @keyframes animation {
    0%,
    10% {
      top: 0;
    }
    25%,
    35% {
      top: -50px;
    } /* Adjusted for new height */
    50%,
    60% {
      top: -100px;
    } /* Adjusted for new height */
    75%,
    85% {
      top: -150px;
    } /* Adjusted for new height */
    100% {
      top: 0;
    }
  }
}

/* Media query for small screens */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .outer-headings {
    height: 90vh;
  }
  .inner-headings {
    height: 40px; /* Further reduced height */
    line-height: 40px; /* Further reduced line height */
    font-size: 25px; /* Further reduced font size */
  }

  .paragraph {
    margin-top: 10px;
    color: #f3fae1;
    font-size: 18px;
  }
  @keyframes animation {
    0%,
    10% {
      top: 0;
    }
    25%,
    35% {
      top: -40px;
    } /* Adjusted for new height */
    50%,
    60% {
      top: -80px;
    } /* Adjusted for new height */
    75%,
    85% {
      top: -120px;
    } /* Adjusted for new height */
    100% {
      top: 0;
    }
  }
}
